@model ASP_OneLove.Models.Apartment

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Фото
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.URLPath" width="500" height="300" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Floor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RoomCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RoomCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BedCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BedCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BathCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BathCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stars)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stars)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsBooked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsBooked)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ApartmentId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
